@model ExpenseApp.Engine.Domain.ViewModels.ExpenseViewModel
@{
    ViewBag.Title = "Index";

    
}

<h2>Expense List</h2>

<a href="~/Employee/CreateExpense"class="btn btn-default btn-sm">Create Expense</a>
    <div class="table-responsive">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Created Date</th>
                    <th>User</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                
                    @foreach (var e in Model.Expenses)
                    {
                        <tr>
                            <td>@e.CreatedDate</td>
                            <td>@e.UserId</td>
                            <td>@e.TotalAmount</td>
                            <td>@e.LastExpenseActionId</td>
                            <td><a href="#"class="btn btn-default btn-sm">Inspect</a></td>
                        </tr>
                    }
            </tbody>
        </table>

    </div>

@section angular{
    <!-- ANGULARJS -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular/module/expenseModule.js"></script>
    <script src="~/Scripts/angular/service/expenseService.js"></script>
    <script src="~/Scripts/angular/controller/expenseItemsController.js"></script>
    <script src="~/Scripts/angular/directive/expenseItemDirective.js"></script>
    <script src="~/Scripts/moment.js"></script>
}