@{
    ViewBag.Title = "Expense Lists";
}

<h2>Expense Lists</h2>

<div class="table-responsive" data-ng-app="expenseModule" data-ng-controller="expensesController">

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Created Date</th>
                <th class="col-md-2">Total Amount</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-2">Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="expense in expenses | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                <td class="col-md-2">{{expense.createdDate}}</td>
                <td class="col-md-2">{{expense.totalAmount}}</td>
                <td class="col-md-2">{{expense.lastExpenseActionId}}</td>
                <td class="col-md-2">
                    <a href="#" class="btn btn-default btn-sm">Send</a>
                    <a href="~/employee/editexpense/{{expense.id}}" class="btn btn-default btn-sm">Edit</a>
                    <a href="#" class="btn btn-default btn-sm">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>
    <a href="~/Employee/CreateExpense" class="btn btn-default btn-sm">Create Expense</a>
</div>


@section angular{

    <script type="text/javascript">
    var actionUrls = {
        GetAllExpenses: "@Url.RouteUrl("DefaultApi", new { httpRoute = "", controller = "Expenses", action = "GetExpenseByUserId" })"
        };
    </script>

    <!-- ANGULARJS -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular/module/expenseModule.js"></script>
    <script src="~/Scripts/angular/service/expenseService.js"></script>
    <script src="~/Scripts/angular/controller/expensesController.js"></script>
    <script src="~/Scripts/angular/directive/pageFilter.js"></script>
    <script src="~/Scripts/moment.js"></script>
}