@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EXPENSE</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac consectetur ante. In nec velit mattis, vulputate lacus ut, vehicula lectus. Pellentesque luctus tellus vel dui elementum, sed iaculis lorem gravida. Quisque molestie tempor enim a varius. Nunc at ipsum ac nisi egestas porttitor. Morbi eu tortor nec lorem consequat condimentum.
        Ut aliquam libero eget mi dictum porta. Suspendisse dignissim ipsum orci, vitae tempus tellus feugiat et. Aenean vehicula justo ac lacus tristique, at dapibus dolor interdum. Cras gravida vulputate quam, at congue ex lacinia ac. Quisque sodales metus velit, vel rhoncus arcu molestie eu. Duis nec porttitor erat.
    </p>
    <hr>
</div>